.cube {
  height: 50px;
  width: 50px;
  margin-right: 5px;
  flex: 0 0 50px;
}

.cubes {
  display: flex;
}

.cubes-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

mat-card {
  height: 80vh;
}
